.hero {

  .swiper-container {
    overflow: hidden;
    position: relative;
    top: -133px;
    left: 0;
  }

  .swiper-wrapper {
    position: relative;
  }

  .swiper-slide {
    padding: 204px 120px 80px;
    min-height: 830px;

    @include vp-767 {
      min-height: 568px;
    }

    .hero__slide-info {
      width: 1200px;
      margin: 0 auto;

      @include vp-1199 {
        width: 100%;
      }

      .hero__info {
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;

        @include vp-1199 {
          display: none;
        }

        div {
          border: 1px solid $color-default-white;
          padding: 14px 20px;
          column-gap: 8px;
          display: flex;
          align-items: center;
        }

        .hero__duration {
          font-size: 12px;
          line-height: 16px;
          color: $color-default-white;

          svg {
            bottom: 0;
            left: 0;
          }
        }
      }

      h2 {
        color: $color-default-white;
        font-size: 77px;
        line-height: 77px;
        font-weight: 800;
        width: 965px;
        display: block;
        margin-bottom: 25px;
        letter-spacing: 1.19px;

        @include vp-1199 {
          font-size: 56px;
          line-height: 56px;
          width: 100%;
          text-align: center;
        }

        @include vp-767 {
          font-size: 26px;
          line-height: 26px;
          width: 320px;
        }
      }
    }

    .hero__img-main {

      img {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    @include vp-1199 {
      padding: 220px 42px 40px;
    }

    @include vp-767 {
      padding: 180px 15px 40px;
      object-fit: fill;
    }
  }

  p {
    color: $color-default-white;
    font-size: 17px;
    line-height: 24px;
    width: 440px;
    margin: 0;
    margin-bottom: 35px;
    letter-spacing: 1.26px;

    @include vp-1199 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      width: 100%;
      margin-bottom: 60px;
    }
  }

  .hero__button {
    width: 180px;
    display: block;
    text-align: center;
    margin-bottom: 134px;
    border: 1px solid transparent;

    @include vp-1199 {
      margin-left: auto;
      margin-right: auto;
    }

    @include hover-focus {
      border: 1px solid $color-navy-blue;
      border-radius: 5px;
      background-color: $color-default-white;
      color: #1c3374;
    }
  }

  .hero__video {
    position: relative;
    top: -400px;
    left: 718px;
    width: 482px;

    @include vp-1199 {
      width: 442px;
      height: 300px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 45px;
    }

    @include vp-767 {
      display: none;
    }

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 482px;
      height: 317px;

      @include vp-1199 {
        width: 442px;
        height: 300px;
      }
    }

    img {
      z-index: -2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    button {
      background-color: transparent;
      border: 1px solid $color-default-white;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      position: absolute;
      top: 159px;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;

      @include vp-1199 {
        top: 145px;
      }

      @include hover-focus {
        border: 1px solid #1c3374;
      }

      @include active {
        background-color: #1c3374;
      }

      &:disabled {
        border: 1px solid transparent;
        pointer-events: none;

        div {
          border-left: 12px solid #0266C1;
        }
      }

      div {
        position: absolute;
        border: 11px solid transparent;
        border-left: 12px solid $color-default-white;
        top: 50%;
        left: 53%;
        transform: translate(-5px, -50%);
      }
    }
  }

  .hero__img {
    position: relative;
    top: -537px;
    left: 791px;
    width: 410px;

    img {
      z-index: -2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    @include vp-1199 {
      width: 442px;
      height: 300px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 45px;
    }

    @include vp-767 {
      display: none;
    }
  }

  .hero__player {
    position: relative;
    top: -289px;
    left: 867px;
    width: 340px;

    @include vp-1199 {
      height: 220px;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 45px;
    }

    @include vp-767 {
      display: none;
    }

    button {
      background-color: #102654;
      border: 1px solid transparent;
      border-radius: 50%;
      width: 56px;
      height: 56px;
      position: absolute;
      top: 156px;
      left: 172px;
      transform: translate(-50%, -50%);
      cursor: pointer;

      div {
        position: absolute;
        border: 11px solid transparent;
        border-left: 12px solid $color-default-white;
        top: 50%;
        left: 53%;
        transform: translate(-5px, -50%);
      }

      @include hover-focus {
        background-color: #007aff;
      }

      @include active {

        background-color: $color-default-white;
        border: 1px solid #102654;
        div {
          border: 9px solid transparent;
          border-left: 10px solid #102654;
        }
      }

      &[disabled] {
        border: 1px solid #0266C1;
        background-color: $color-default-white;
        pointer-events: none;

        div {
          border-left: 12px solid #0266C1;
        }
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 340px;
      height: 220px;

      @include vp-1199 {
        width: 340px;
        height: 220px;
      }
    }
  }

  .swiper-pagination {
    width: 85px;
    display: flex;
    column-gap: 12px;
    position: absolute;
    align-items: start;
    bottom: 300px;
    left: 1278px;

    @include vp-1199 {
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border: 1px solid $color-default-white;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-default-white;
    }
  }
}
