.training {
  padding-bottom: 8px;
  padding-top: 43px;

  @include vp-1199 {
    padding-top: 63px;
    padding-bottom: 47px;
  }

  @include vp-767 {
    padding-top: 27px;
    padding-bottom: 21px;
  }

  .training__container {
    position: relative;
    margin: 0 auto;
    padding: 0 120px;
    max-width: 1440px;

    @include vp-1199 {
      padding: 0 45px;
    }

    @include vp-767 {
      padding: 0 15px;
    }

    .h2 {
      margin-bottom: 32px;

      @include vp-1199 {
        margin-bottom: 26px;
      }
    }
  }

  .swiper-container {
    overflow: hidden;

    @include vp-1199 {
      width: 678px;
      margin-bottom: -35px;
    }

    @include vp-767 {
      width: 320px;
    }
  }

  p {
    width: 802px;
    margin: 0;
    margin-bottom: 60px;

    @include vp-1199 {
      width: 540px;
      margin-bottom: 29px;
    }

    @include vp-767 {
      width: 320px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 28px;
    }
  }

  span {
    margin-bottom: 52px;
    display: block;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;

    @include vp-1199 {
      margin-bottom: 62px;
    }

    @include vp-767 {
      margin-bottom: 57px;
    }
  }

  .training__list {
    margin-bottom: 58px;
    width: 1200px;

    @include vp-767 {
      margin-bottom: 61px;
    }

    .training__item {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
      max-width: 285px;
      padding: 14px;
      border: 1px solid rgba(2, 102, 193, 0.1);
      min-height: 356px;
      background-color: $color-default-white;

      @include vp-1199 {
        max-width: 212px;
        min-height: 388px;

        picture {
          width: 100%;

          img {
            height: 200px;
          }
        }
      }

      @include vp-767 {
        max-width: 320px;
        min-height: 356px;
        height: 356px;

        img {
          width: 100%;
        }
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: start;

        a {
          width: 24px;
          height: 24px;
          cursor: pointer;
          padding-top: 1px;

          svg {
            color: $color-default-black;
            border: 1px solid #8e959b;
          }

          @include hover-focus {
            svg {
              border: 1px solid $color-default-black;
            }
          }

          @include active {
            svg {
              color: $color-default-white;
              background-color: #0266c1;
              border: 1px solid transparent;
            }
          }

          &[disabled] {
            pointer-events: none;
            opacity: 0.3;
          }
        }
      }

      p {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        width: 100px;
        margin: 0;
        padding-top: 2px;
      }

      span {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        margin: 0;
        width: 250px;

        @include vp-1199 {
          width: 185px;
        }

        @include vp-767 {
          width: 295px;
        }
      }
    }
  }

  .training__subtitle {
    margin-bottom: 27px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 23px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 253px 254px 253px 560px;
    flex-shrink: 1;

    @include vp-1199 {
      width: 590px;
      column-gap: 75px;
      grid-template-columns: 1fr 1fr;
      row-gap: 54px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      width: 275px;
      row-gap: 25px;
    }

    li {
      display: flex;
      align-items: start;
      column-gap: 10px;
      position: relative;
      padding-bottom: 16px;

      @include vp-1199 {
        padding-right: 0;

        p {
          font-size: 14px;
          line-height: 22px;

          @include vp-767 {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

      svg {
        position: absolute;
        top: 3px;
        left: 10px;

        @include vp-767 {
          top: 7px;
          left: 30px;
          width: 20px;
          height: 20px;
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        background-color: #0266c1;
        bottom: 0;
        left: 10px;
        border-radius: 50%;

        @include vp-1199 {
          bottom: -8px;
        }

        @include vp-767 {
          bottom: 10px;
          left: 0;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 100vw;
        box-shadow: 100vw 0 0 0 #0266c1;
        height: 1px;
        bottom: 7px;
        right: 0;

        @include vp-1199 {
          position: absolute;
          content: "";
          width: 405px;
          height: 1px;
          bottom: 7px;
          left: 10px;
          background-color: #0266c1;
          box-shadow: none;
        }

        @include vp-767 {
          box-shadow: none;
        }
      }

      @include vp-767 {
        padding: 0;
      }
    }

    .training__item-info--up {
      @include vp-1199 {
        padding: 0;
        padding-top: 21px;

        &::after {
          position: absolute;
          content: "";
          width: 14px;
          height: 14px;
          background-color: #0266c1;
          top: -6px;
          left: 10px;
          border-radius: 50%;
        }

        &::before {
          position: absolute;
          content: none;
          height: 0;
          width: 1vw;
          bottom: 7px;
          right: 0;
        }

        svg {
          top: 23px;
        }
      }

      @include vp-767 {
        padding: 0;

        &::after {
          top: 12px;
          left: 0;
        }

        svg {
          top: 6px;
        }
      }
    }

    .training__item-info--down {
      @include vp-1199 {
        &::before {
          content: "";
          height: 57px;
          width: 1px;
          top: 63px;
          left: 16px;
        }
      }

      @include vp-767 {
        &::before {
          content: none;

          //height: 57px;
          //width: 1px;
          //top: 63px;
          //left: 16px;
        }
      }
    }

    .training__item-info--up-last {
      @include vp-1199 {
        order: 1;

        &::before {
          position: absolute;
          content: "";
          width: 346px;
          height: 1px;
          top: -1px;
          left: -331px;
          background-color: #0266c1;
        }

        @include vp-767 {
          order: 0;

          &::before {
            content: none;

            //height: 57px;
            //width: 1px;
            //top: 63px;
            //left: 16px;
          }
        }
      }
    }

    li:first-child {
      &::before {
        right: 243px;

        @include vp-1199 {
          width: 346px;
          left: 13px;
          bottom: -1px;
        }

        @include vp-767 {
          width: 1px;
          height: 191px;
          left: 6px;
          top: 15px;
        }
      }
    }

    p {
      width: 248px;
      margin: 0;
      padding-left: 45px;

      @include vp-1199 {
        width: 268px;
      }

      @include vp-767 {
        padding-left: 64px;
        width: 263px;
      }
    }
  }
}


// Кнопки

.swiper-slider__arrow[data-swiper-button-prev="training"] {
  position: absolute;
  width: 37px;
  height: 35px;
  top: 193px;
  right: 161px;
  cursor: pointer;
  border: none;
  background: #0266c1;
  transform: rotate(180deg);

  span {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  svg {
    color: $color-default-white;
  }

  @include vp-1199 {
    top: 165px;
    right: 86px;
  }

  @include vp-767 {
    top: 204px;
    right: 56px;
  }

  @include hover-focus {
    background-color: $color-default-white;
    border: 1px solid #1c3374;

    svg {
      color: #1c3374;
    }
  }

  @include active {
    background-color: #1c3374;

    svg {
      color: $color-default-white;
    }
  }

  &[disabled] {
    background-color: #999999;
    pointer-events: none;
  }
}


.swiper-slider__arrow[data-swiper-button-next="training"] {
  position: absolute;
  width: 37px;
  height: 35px;
  top: 193px;
  right: 120px;
  cursor: pointer;
  border: none;
  background: #0266c1;
  transition: color 0.5s ease-in;


  span {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    color: $color-default-white;
  }

  @include vp-1199 {
    top: 165px;
    right: 45px;
  }

  @include vp-767 {
    top: 204px;
    right: 15px;
  }

  @include hover-focus {
    background-color: $color-default-white;
    border: 1px solid #1c3374;

    svg {
      color: #1c3374;
    }
  }

  @include active {
    background-color: #1c3374;

    svg {
      color: $color-default-white;
    }

    &::before {
      background-color: #102654;
    }
  }

  &[disabled] {
    background-color: #999999;
    pointer-events: none;
  }
}

